@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
:root{
  --globalfont: 'Anton', sans-serif;
}
 *{
    margin:  0;
    padding: 0;
 }
 body{
    background-color: lightgrey;
 }
 header{
   font-family: var(--globalfont);
   text-align: center;

 }

 section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:auto;
    width: 98%;
    height: 98%;
    max-height: 500px;
    max-width: 500px;
 }
 #mod_game{
 display: block;
 background-color: burlywood;
 font-family: var(--globalfont);
   
}
#mod_game h1 {
   text-align: center;
}
#mod_game div  {
   margin-left:130px;
   margin-top: 80px;
}
#mod_game p {
   text-align: center;
   position: absolute;
   bottom: 0;
   left: 27%;
}
.mod{
   margin-left: 190px;
   margin-top: 15px;
 
}
 #caixa{
   display: none;
   font-family: var(--globalfont);
   text-align: center;
   display:grid;
   grid-template-columns: repeat(2,1fr) ;
   grid-template-rows: repeat(1,100px);
   grid-gap:0px ;
   margin-bottom: 150px;
   
 }
 .Placar_number{
 font-size: 3em;
 color: white;
}
 .player1{
   border: 1.5px solid black;
   font-family: var(--globalfont);
   background-color: blue;
   animation: player1 2s ease-in-out infinite;
   
 }
 .player2{
   border: 1.5px solid black;
   background-color: red;
   animation: player2 2s ease-in-out infinite;
 }
 @keyframes player1 {
   0%{
      background-color: blue;
   }   
   50%{
      background-color: rgb(34, 0, 202);

   }
   100%{
      background-color: blue;
   }
 }
 @keyframes player2 {
   0%{
      background-color: red;
   }   
   50%{
      background-color: rgb(186, 14, 14);

   }
   100%{
      background-color:red;
      
   }
 }
 .container {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 0px;
    border:none;
    
}
 .item{
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0);
}
.item:nth-child(3n+3) {
    border-right: none;

}
.item:nth-child(1n){
    border-left: none;
   

}
.item:nth-child(-n+3) {
    border-top: none;
  }
  /* Remove a borda de baixo da última linha */
  .item:nth-last-child(-n+3) {
    border-bottom: none;}
    .item p {
      font-size: 3em;
      margin-top: 5%;
      margin-bottom: 2.5%;

     }

footer{
   position: absolute;
   font-family: var(--globalfont);
   bottom: 0;
   margin-left: 45%;

}
footer a {
   color: black;
}

